.Button {
  border-radius: 8px;
  border: none;
  font-size: 15px;
  margin: 0 5px;
  display: inline-block;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 100px;
}
