.Global__NavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Global__NavigationBar__IconArea {
  width: 50px;
  height: 51px;
  transition: 0.5s;

  &:hover {
    transform: scale(1.2, 1.2);
  }
}

.Global__NavigationBar__Icon {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  border-radius: 50%;
  border: 2px solid $BLACK;
}

.Global__NavigationBar__Lists {
  list-style: none;
  display: flex;
  margin: 0;
}

.Global__NavigationBar__List {
  margin-right: $BASE * 8;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    transform: scale(1.2, 1.2);
  }
}

.Global__NavigationBar__List a {
  text-decoration: none;
  color: $BLACK;
}

.Global__NavigationBar__List p {
  display: inline-block;
  margin-right: -$BASE;

  &::before {
    content: "";
    margin-right: $BASE;
  }
}
