.PortfolioCard {
  display: flex;
  flex-direction: column;
  width: 32%;
  box-sizing: border-box;
  padding: 10px;
  height: auto;
  border: 2px solid whitesmoke;
  margin: 0 auto $BASE * 10;
  color: $BLACK;

  @include mq-sm {
    width: 100%;
  }
}

.PortfolioCard__ImageArea {
  width: 200px;
  height: 200px;
  text-align: center;
  object-fit: cover;
  margin: 0 auto;
  border: 2px solid #d8d8d8;
}

.PortfolioCard__Image {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  object-fit: cover;

  @include tab {
    height: 100px;
  }
}

.PortfolioCard__Name {
  font-size: 18px;
}

.PortfolioCard__Date {
  font-size: 8px;
}

.PortfolioCard__Text {
  font-size: 8px;
}

a {
  color: $BLACK;
}
