.PortFolioScreen {
  margin: $BASE * 10;
}

.PortFolioScreen__CardArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $BASE * 25;

  @include mq-sm {
    display: block;
  }
}

.PortFolioScreen__CardArea .PortfolioCard {
  margin-bottom: $BASE * 8;
}
